[Unit]
Description=Gunicorn instance to serve api
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/backend
Environment="PATH=/var/www/backend/apienv/bin"
ExecStart=/var/www/backend/apienv/bin/gunicorn --workers 3 --bind unix:/tmp/api.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
