<!-- navigator -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <!-- logo -->
        <a class="navbar-brand" href="#">CAT</a>

        <!-- enter -->
        <div>
            <ul class="navbar-nav">
                {% comment %} <li class="nav-item">
                    <a class="nav-link" href="{% url 'article:article_list' %}">文章列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'article:article_create' %}">新文章</a>
                </li>s {% endcomment %}
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        {% comment %} <li><a class="dropdown-item" href="#" onclick="user_delete()">注销用户</a></li> {% endcomment %}
                        <li><a class="dropdown-item" href="{% url 'userprofile:logout' %}">Log out</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'userprofile:login' %}">Log in</a>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>

{% comment %} {% if user.is_authenticated %}
<form style="display: none;" id="user_delete" action="{% url 'userprofile:delete' user.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">发送</button>
</form>
<script>
    function user_delete() {
        layer.open(
            {
                title: "确认删除",
                content: "确认删除用户资料吗？",
                yes: function(index, layero) {
                    $('form#user_delete button').click();
                    layer.close(index);
                },
            }
        )
    }
</script>
{% endif %} {% endcomment %}